body {
    background-color: #c9fdc9;
}

.navbar ul {
    list-style-type: none;
    background-color: #2c2c2c;
    padding: 0px;
    margin: 0px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    overflow: hidden;
}

.navbar a:hover{
    background-color: #1b1b1b
}

.navbar li{
    float: left;
}